// PURDUE COLORS
$purdue-primary: #CFB991;
$purdue-secondary: #000000;

/* NAVBAR */
.navbar.bg-dark {
  background-color: $purdue-secondary !important;
}

.navbar .navbar-brand {
  color: $purdue-primary !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: $purdue-primary !important;
}

/* BUTTONS */
.btn-warning {
  background-color: $purdue-primary;
  border-color: $purdue-primary;
  color: $purdue-secondary;
}

.btn-warning:hover,
.btn-warning:focus {
  filter: brightness(0.95);
}

.btn-dark {
  background-color: $purdue-secondary;
  border-color: $purdue-secondary;
}

.btn-dark:hover,
.btn-dark:focus {
  filter: brightness(1.15);
}

header.bg-light {
  border-bottom: 6px solid $purdue-primary;
}

/* HEADINGS */
h1,
h2,
h3 {
  color: $purdue-secondary;
}

#result {
  margin-top: 1rem;
  color: $purdue-secondary;
}
